# Ansible
site.retry
*.retry
**/.retry

# Editor
.vscode

# vagrant
*.vagrant
**/.vagrant

# Setup All in One
**/setup-all-in-one/.data
**/setup-all-in-one/.kube
**/setup-all-in-one/apps
**/setup-all-in-one/.ssh

# keys
**/key.pub
**/key

# Config Setup Kubeadm
**/setup-kubeadm/configs